<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-inverse navbar-mega" role="navigation" style="background-color: #286090">
  <div class="navbar-header">
    <button class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <button class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse" type="button">
      <i aria-hidden="true" class="icon md-more"></i>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" style="padding: 0px;" data-toggle="gridmenu">
      <img class="navbar-brand-logo" style="width: 49px;cursor: pointer;" src="<%= asset_path("movie.png") %>" title="Movie Manager"/>
    </div>
    <button class="navbar-toggle collapsed" data-target="#site-navbar-search" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle Search</span>
      <i aria-hidden="true" class="icon md-search"></i>
    </button>
    <div class="navbar-text" style="color: #a6e1ec" href="#">Movie Manager</div>
  </div>


  </div>
</nav>