.padding-top-5{
  padding-top: 5%;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.padding-left-20{
  padding-left: 20%;
}
.margin-left-21{
  margin-left: 21%;
}
th{
  color: #c7254e;
}
h2{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.center-block{
  float: none;
}
.padded{
  width: 98% !important;
  margin-left: 6px;
}
